<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit.creciendojuntos">

    <uses-feature android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreciendoJuntos">
        <!--android:theme="@style/AppTheme"-->

        <provider
            android:authorities="com.bit.creciendojuntos"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
        <activity
            android:name=".activities.usuario.ScannerActivity"
            android:parentActivityName=".activities.medico.PantallaMedicoActivity"/>
        <activity
            android:name=".activities.usuario.GeneradorqrActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.PediatraActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.DentistaActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.OcularActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.VacunasActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.EsquemaVacunacionActivity"
            android:parentActivityName=".activities.usuario.ConsultarEspecialidadesActivity" />
        <activity
            android:name=".activities.usuario.ConsultarEspecialidadesActivity"
            android:parentActivityName=".activities.usuario.PantallaUsuarioActivity" />
        <activity
            android:name=".activities.hijo.AltaHijoActivity"
            android:parentActivityName=".activities.medico.PantallaMedicoActivity" />
        <activity
            android:name=".activities.medico.InfoMedicoActivity"
            android:parentActivityName=".activities.medico.PantallaMedicoActivity" />
        <activity
            android:name=".activities.usuario.InfoUsuarioActivity"
            android:parentActivityName=".activities.usuario.PantallaUsuarioActivity" />
        <activity
            android:name=".activities.usuario.UpdateProfileUsuarioActivity"
            android:parentActivityName=".activities.usuario.PantallaUsuarioActivity" />
        <activity
            android:name=".activities.medico.UpdateProfileMedicoActivity"
            android:parentActivityName=".activities.medico.PantallaMedicoActivity" />
        <activity android:name=".activities.medico.PantallaMedicoActivity" />
        <activity android:name=".activities.usuario.PantallaUsuarioActivity" />
        <activity
            android:name=".activities.medico.RegisterMedicoActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.usuario.RegisterActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.SelectOptionAuthActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>